table { border-collapse: collapse; }
td, th { padding: .3em; border: 1px #000000 solid; font-size: 2em; }
th { background: #00CCFF; font-size: 2em; font-weight: bold; }

#outPopUp{
	  //display: block;
	  //margin-left: auto;
	  //margin-right: auto;
	  margin: 0 auto;
}