@(competition: Competition)

@import helper._

@results(competition.name) {
    
    
    <h1 align="center">@competition.name : Results</h1>
    
    
    <table style="margin-left:auto; margin-right:auto">
    	<tr>
    		<th>Team</th>
    		<th>upvotes</th>
    		<th>downvotes</th>
    		<th>total score</th>
    	</tr>
    	
    	@for(team <- competition.teams){
    		<tr>
    			<td>@team.teamName</td>
    			<td>@team.upvotes()</td>
    			<td>@team.downvotes()</td>
    			<td>@team.getScore()</td>
    		</tr>
    	}
    
    </table>
    
    

        
}