@(competition: Competition, teams: List[Team])

@import helper._

@main(competition.name) {
    
    <h1>@competition.name</h1>
    
    <h2>Teams Participating</h2>
    <ul>
        @for(team <- competition.teams) {
            <li>
                @team.teamName &nbsp; Voting open: @team.votingOpen &nbsp; <a href="@routes.Application.openVoting(competition.id, team.id)" title="open voting">Open Voting</a>
                </br><a href="@routes.Application.teamInfo(team.id)" title="open voting">Score</a>
            </li>
        }
    </ul>
    
    </br>
    <a href="@routes.Application.closeVoting(competition.id)" title="close all voting">Close All Voting</a>
    
    <h2>Add Team</h2>
    
    @form(routes.Application.enrollTeam(competition.id)) {
    	
        <select name="teamId">
        	<option selected value="">&nbsp;</option>
        	@for(team <-teams){
        		<option value="@team.id">@team.teamName</option>
        	}
        </select>
        
        <input type="submit" value="Create">
        
    }
    
}